<base href="" />
<title>Our Mission - RasPlex</title>
<meta name="description" content="RasPlex is the community driven Plex client for the Raspberry Pi mini-computer. It is fully Open Source, and is the easiest way to turn any TV into a SmartTV.">
<meta name="keywords" content="plex,raspberry pi, plex on raspberry pi, rasplex, XBMC, xbmc, XBMC on raspberry pi, htpc, htpc raspberry pi, linux">
<meta charset="UTF-8" />
<link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="../assets/components/themebootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/components/themebootstrap/js/main.js" type="text/javascript"></script>


<!-- Here you can change your default template: just add the name of the folder where others template are,
for example: href="/assets/components/themebootstrap/css/cerulean/bootstrap.min.css" - cerulean template. -->
<link href="../assets/components/themebootstrap/css/slate/bootstrap.min.css" rel="stylesheet">

<link href="../assets/css/stats.css" rel="stylesheet" type="text/css">
<script src="../assets/js/Chart.js"></script>
<script src="../assets/js/legend.js"></script>
<script src="../assets/js/jquery-2.1.0.min.js"></script>


<link href="../assets/css/docs.css" rel="stylesheet">
<link href="../assets/css/main.css" rel="stylesheet">
<link href="../assets/components/themebootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-38835045-1']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>


<script type="text/javascript">
/* <![CDATA[ */
(function() {
 var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
 s.type = 'text/javascript';
 s.async = true;
 s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
 t.parentNode.insertBefore(s, t);
 })();
/* ]]> */</script>

